*{
		margin: 0%;
		padding: 0%;
		box-sizing: border-box;
		border: none;
		background-color: peachpuff;
}
h1{
	text-align:center;
	margin-bottom: 250px;
}
p{
	margin-bottom: 0px;
}
@media(min-width:992px){
	div{
		width:32.03%;
		border:solid black 1px;
		box-sizing: border-box;
		margin:5px;
		float:left;
		position:relative;
	}
	p#para1{
		background-color: cornsilk;
	}
	p#para2{
		background-color: aqua;
	}
	p#para3{
		background-color: lime;
	}
	div#obj1{
		width:50px;
		margin:0px;	
		float:right;
		background-color: orange;
	}
	div#obj2{
		background-color: limegreen;
		width:50px;
		margin:0px;	
		float:right;
	}
	div#obj3{
		background-color: sienna;
		width:50px;
		margin:0px;	
		float:right;
	}
}
@media(min-width:768px) and (max-width:991px){
	div{
		width:47%;
		box-sizing: border-box;
		border: solid black 1px;
		float:left;
		margin-bottom:10px;
		position:relative;
	}
	p#para1{
		background-color: cornsilk;
	}
	p#para2{
		background-color: aqua;
	}
	p#para3{
		background-color: lime;
	}
	div#obj1{
		width:50px;
		margin:0px;	
		float:right;
		background-color: orange;
	}
	div#obj2{
		width:50px;
		margin:0px;	
		float:right;		
		background-color: limegreen;
	}
	div#obj3{
		width:50px;
		margin:0px;	
		float:right;
		background-color: sienna;
	}
	div#para2{
		width:50%;
		box-sizing: border-box;
		float:right;
	}
	div#para3{
		margin:0px;
		width:99%;
	}
}
@media(max-width:767px){
	div{
		width:100%;
		box-sizing: border-box;
		margin-bottom:10px;
		border: solid black 1px;
		position:relative;
	}
	p#para1{
		background-color: cornsilk;
	}
	p#para2{
		background-color: aqua;
	}
	p#para3{
		background-color: lime;
	}
	div#obj1{
		width:50px;
		margin:0px;	
		float:right;
		background-color: orange;
	}
	div#obj2{
		width:50px;
		margin:0px;	
		float:right;
		background-color:limegreen;
	}
	div#obj3{
		width:50px;
		margin:0px;	
		float:right;
		background-color: sienna;
	}
}
